div.rgbar input {
    margin: 5px;
}
span.fancytree-custom-icon.fancytree-use-yn-no {
	background-image: url(../../resources/img/dbverimg.jpg);
	background-position: -16px -112px;
	}
.treeBox{
	z-index:2;
}